@using BetValue.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetValue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BetValue.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">   
            <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100 border align-items-center align-content-start">

                        <!-- The expansion button for the leagues links -->

                        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarLeagues">
                      
                            <div>
                                <h1 class="">B<span class="text-info">e</span>t<strong class="border">V</strong>alu<span class="text-info">e</span>s</h1>
                            </div>

                                <!-- The search bar on the right -->
                            <div class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 text-primary" id="searchBar" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                    </nav>
            </div>
            <div class="row">
                <nav class="col-12 d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row" id="links">
                        <a asp-page="/Index" class="nav-link">Home</a>
                        <a asp-page="/About" class="nav-link">How is the betvalue calculated?</a>
                        <a asp-page="/Contact" class="nav-link">Contact</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BetValue - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.navbar-toggler').on('click', function () {
                $(this).toggleClass('active');
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>