@using BetValue.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Betvalues, xG, Odds, Values, Value, Bet, Compare, SPI">
    <meta title="xG Values">
    <meta name="description" content="Compare xG to Odds on the market">
    <title>@ViewData["Title"] - BetValue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BetValue.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">   
            <div class="row">               
                            <div class="logo">
                                <h1 class="text-center logo">B<span class="text-info">e</span>t<strong class="border">V</strong>alu<span class="text-info">e</span>s</h1>
                            </div>
            </div>
            <div class="row welcome-container">
                <h4>Welcome to the number one site for comparing football teams xG to Odds on the market</h4>
            </div>
            <div class="row">
                <nav class="col-12 d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row" id="links">
                        <a asp-page="/Index" class="nav-link">Home</a>
                        <a asp-page="/About" class="nav-link">How is the betvalue calculated?</a>
                        <a asp-page="/Contact" class="nav-link">Contact</a>
                    </div>
                </nav>

            </div>
        </div>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.navbar-toggler').on('click', function () {
                $(this).toggleClass('active');
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>