html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .big-screen-border-left{
      border-left: 1px solid cornflowerblue;
  }
}
nav {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 3rem;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to right,black,blue,black,blue);
}
*{
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
h4 {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
}

.headline {
    font-size: xx-large;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.navbar {
    color: black;
    width: fit-content;
    margin: 10px;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.right {
    justify-content: flex-end;
}

ul {
    margin: 10px;
}

li {
    margin: 20px;
}
button {
    max-height: 3rem;
}

.italic {
    font-style: italic;
}

.border {
    border: 1px;
    border-color: aquamarine;
    border-radius: 20px;
    border-style: inset;
}

.box {
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

.bigbox {
    width: 100vw;
    height: 200px;
}
.bigbox-auto{
    width: 90%;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.halfwidth {
    width: 50%;
}

.lightbackground {
    background-color: cornsilk;
}

.fitinbox {
    width: 100%;
    height: 100%;
}
.flagbackground {
    background-size: cover;
    background-position: center;
}

.box:hover {
    transform: scale(1.2);
}
.gameContainer {
    margin-top: 20px;
    transition: 0.5s;
    color: white;
}
    .gameContainer:hover {
        transform: scale(1.05);
    }
.chosenGameContainer {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
}
.padding-0{
    padding:0px 0px 0px 0px;
}
.navbar-placing{
    display:flex;
    flex-direction:row;
    align-content:space-between;
    align-items:baseline;

}
.leagueLink {
    color: white;
    text-decoration: none;
    font-size:small;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s;
    white-space: nowrap;
}
.green-text{
    color:lawngreen;
}
.red-text {
    color: red;
}
#GameBox {
    background-color: blue;
    color: white;
    position: fixed;
    bottom: 0%;
    max-height: 400px;
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 5px 5px #fffef0;
    overflow: auto;
    z-index: 1;
}
#gameBoxTextContainer {
    padding-bottom: 10px;
}
.hidden {
    display: none !important;
}
.close-btn {
    border: 2px solid white;
    border-radius: 100%;
    max-height: 40px;
    max-width: 40px;
}
#leagueList {
    margin-top:20px;
}
.leagueHeadline {
    color: white;
}
.topBox {
    text-align: center;
    box-shadow: 0px 0px 5px 5px #fffef0;
    border-radius: 20px !important;
}
.topBoxContainer {
    display: flex;
    justify-content:center;    
    gap: 20px;
}
.chosenGameBorder {
    box-shadow: 0px 0px 1px 1px #524949 !important;
    opacity: 0.5;
}
.gameBorder {
    box-shadow: 0px 0px 5px 5px #fffef0;
    border-radius: 20px;
}
.margin-top {
    margin-top: 40px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.chosenCountry {
    border: 2px solid white;
    border-radius: 20px;
    opacity: 0.5;
}
#countryList{
    list-style-type:none;
}
.logo {
    max-width: 100%;
    max-height: 100%;
}
.welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.border-left {
    border-left: 1px solid cornflowerblue !important;
}
.border-top {
    border-top: 1px solid cornflowerblue !important;
}
.border-right {
    border-right: 1px solid cornflowerblue !important;
}
.border-bottom {
    border-bottom: 1px solid cornflowerblue !important;
}
#leagueList{
    min-height:40px;
}